﻿@model TestMvcApp.Models.CustomerModel
@{
    ViewBag.Title = "Add Customer";
}

<h2>AddCustomer</h2>

@using (Html.BeginForm("AddCustomer", "Home", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(x => x.FirstName)
            @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(x => x.Surname)
            @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @Html.LabelFor(x => x.Gender)
            @Html.DropDownList("Gender", (IEnumerable<SelectListItem>)ViewBag.Genders, new { @class = "form-control" })
        </div>
        <div class="col-md-6">
            @Html.LabelFor(x => x.Active)
            @Html.CheckBoxFor(x => x.Active, new { @class = "form-check-input1" })
        </div>
    </div>

    <button type="submit" class="btn btn-primary" style="margin-top: 20px">Submit</button>
}