﻿@model List<TestMvcApp.Models.CustomerModel>
@{
    ViewBag.Title = "Home Page";
}

<h1>Customers</h1>

@Html.ActionLink("Add Customer", "AddCustomer")

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Gender</th>
            <th>Created</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach(var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.FirstName</td>
                    <td>@item.Surname</td>
                    <td>@item.Gender</td>
                    <td>@item.Created</td>
                    <td>@item.Active</td>
                </tr>
            }
        }
    </tbody>
</table>